// Define variables for your color scheme

// For example:
$black: #000000;
$gray: #858585;
$white: #F4F4F4;
$linen: #FBF2E9;
$indian-yellow: #DFA249;
$orange: #E67E22;
$tea-green: #CDE7BE;
$moss-green: #97A26B;
