<div class="container page">
  <h1><%= @school_menu.date.strftime("%d %B '%y") %> - <%= (@school_menu.date + 18.days).strftime("%d %B '%y") %> </h1>
  <br><br>
  <% @menus_in_week.each do |menu| %>
    <h3><%= menu.menu_date.strftime("%A") %></h3>
      <div class="cards">
        <% menu.dishes.each do |dish| %>
          <div class="card">
            <div class="card-body">
              <br>
              <h3 class="card-title"> <%= dish.name %> </h3>
              <br>
            </div>
          </div>
        <% end %>
      </div>
    <br><br>
  <% end %>
</div>
