<div class="card">
  <div class="card-body">
    <%= cl_image_tag "development/by55tzcxtxeg7bjr1m0wxm3niuiy", class: "avatar-large" %>
    <br><br>
    <h3 class="card-title">Hogwarts School of Witchcraft and Wizardry</h3>
    <p class="card-text">CH61 1DE</p>
    <div>
      <br>
      <a href="#" class="btn btn-outline-dark">View School</a>
    </div>
  </div>
</div>
