<div class="container">
  <h1>GrayMark's components</h1>

  <br><br>
  <%# TYPOGRAPHY %>
  <h2>Typography</h2>

  <h1>H1 - Heading 1</h1>
  <h2>H2 - Heading 2</h2>
  <h3>H2 - Heading 3</h3>

  <p>P - Paragraph</p>
  <p class = bold > P - Paragraph bold</p>
  <label> L - Label </label>

  <br><br>
  <%# BUTTONS %>
  <h2> Buttons </h2>
  <div>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-dark">Outline</button>
    <button type="button" class="btn btn-link">Link</button>
    <%# <button type="button" class="btn btn-primary">Login</button>
    <button type="button" class="btn btn-primary">Create a new menu</button>
    <button type="button" class="btn btn-primary">Add School</button>
    <button type="button" class="btn btn-primary">New Allergy</button>
    <button type="button" class="btn btn-primary">Get Started</button>
    <button type="button" class="btn btn-primary">Generate menus</button>
    <button type="button" class="btn btn-primary1">Add a School</button> %>
  </div>
  <br>

  <%# MENU %>
  <br><br>
  <h2> Menu </h2>
  <div>
    <br>
    <button type="button" class="btn btn-link">Login</button>
    <button type="button" class="btn btn-link">Home</button>
    <button type="button" class="btn btn-link">About Us</button>
    <button type="button" class="btn btn-link">Pricing</button>
    <button type="button" class="btn btn-link">Features</button>
    <button type="button" class="btn btn-link">Contact</button>
    <button type="button" class="btn btn-link">Don't have an account? Sign up</button>
    <br>
  </div>
  <div>
    <br>
    <button type="button" class="btn-circle">M</button>
    <button type="button" class="btn-circle">T</button>
    <button type="button" class="btn-circle">W</button>
    <button type="button" class="btn-circle">T</button>
    <button type="button" class="btn-circle">F</button>
    <br>
  </div>

  <%# FORMS %>

  <br><br>
  <%# CARDS %>
  <h2> Cards </h2>
  <div class="cards">
    <div class="card">
      <div class="card-body">
        <img src="https://assets.stickpng.com/images/6137929c4b96600004f676fe.png" class="rounded" alt="Hogwarts Logo">
        <h3 class="card-title">Hogwarts School of Witchcraft and Wizardry</h3>
        <p class="card-text">CH61 1DE</p>
        <div>
          <br>
          <a href="#" class="btn btn-outline-dark">View School</a>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <img src="https://assets.stickpng.com/images/6137929c4b96600004f676fe.png" class="rounded" alt="Hogwarts Logo">
        <h3 class="card-title">Hogwarts School of Witchcraft and Wizardry</h3>
        <p class="card-text">CH61 1DE</p>
        <div>
          <br>
          <a href="#" class="btn btn-outline-dark">View School</a>
        </div>
      </div>
    </div>
  </div>
</div>
