<h1>GrayMark's components</h1>
<div>
  <button type="button" class="btn btn-primary">Sign Up</button>
  <button type="button" class="btn btn-primary">Login</button>
  <button type="button" class="btn btn-primary">Create a new menu</button>
  <button type="button" class="btn btn-primary">Add School</button>
  <button type="button" class="btn btn-primary">New Allergy</button>
  <button type="button" class="btn btn-primary">Get Started</button>
   <button type="button" class="btn btn-primary">Generate menus</button>
   <button type="button" class="btn btn-primary1">Add a School</button>
</div>
<div>
<br>
  <button type="button" class="btn btn-secondary">View School</button>
  <button type="button" class="btn btn-secondary">View Menu</button>
  <br>
</div>
<div>
<br>
<button type="button" class="btn btn-link">Login</button>
<button type="button" class="btn btn-link">Home</button>
<button type="button" class="btn btn-link">About Us</button>
<button type="button" class="btn btn-link">Pricing</button>
<button type="button" class="btn btn-link">Features</button>
<button type="button" class="btn btn-link">Contact</button>
<button type="button" class="btn btn-link">Don't have an account? Sign up</button>
  <br>
</div>
<br>
  <button type="button" class="btn-circle">M</button>
  <button type="button" class="btn-circle">T</button>
  <button type="button" class="btn-circle">W</button>
  <button type="button" class="btn-circle">T</button>
  <button type="button" class="btn-circle">F</button>
  <br>
</div>
