<div class="bgimg">
  <div class="banner hero">
    <div class="container">
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2>How it works</h2>
      <div class="cards">
      <div class="card-category transparent">
        <img src="https://cdn-icons-png.flaticon.com/512/5182/5182195.png" alt="owl education">
        <br>
        <h3>Partner with a school</h3>
        <p>Stay organized. Work with and manage all your schools and students from a single location</p>
      </div>

    <div class="card-category transparent">
      <img src="https://cdn-icons-png.flaticon.com/512/5974/5974506.png" alt="healthy bowl">
      <br>
      <h3>Upload dietary needs</h3>
      <p>Upload any dietary restrictions your schools and students have</p>
    </div>

    <div class="card-category transparent">
      <img src="https://cdn-icons-png.flaticon.com/512/5971/5971703.png" alt="custom menu">
      <br>
      <h3>Unique, Safe & nutritious menus</h3>
      <p>GrayMark will generate a nutritious menu safe for everyone to eat in a matter of seconds</p>
    </div>
  </div>
  <br><br><br><br>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2>Questions?</h2>
      <h3>We got answers</h3>
      <br><br>
    </div>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Accordion Item #1
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Accordion Item #2
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Accordion Item #3
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
</div>


<footer class="footer-07">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center">
      <h2> GrayMark </h2>
    </div>
  <div class="column justify-content-center">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-link">Login</button>
      <button type="button" class="btn btn-link">Home</button>
      <button type="button" class="btn btn-link">About Us</button>
      <button type="button" class="btn btn-link">Pricing</button>
      <button type="button" class="btn btn-link">Features</button>
      <button type="button" class="btn btn-link">Contact</button>
      <button type="button" class="btn btn-link">Don't have an account? Sign up</button>
    </div>
  </div>
</footer>
