<div class="bgimg">
  <div class="banner">
    <div class="container">
    <div>
      <h1>Safe menus for every child in seconds</h1>
      <h3>Generate safe and nutritious menus for every child and their dietary needs, at a click of a button</h3>
      <br><br>

      <% if user_signed_in? %>
      <%# Add path when merged to dashboard %>
        <%= link_to "Start now", "#", class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Start now", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
  </div>
  <div class="container">
    <h2>How it works</h2>
    <div class="cards">
      <div class="card-category transparent">
        <h3>Partner with a school</h3>
      </div>

      <div class="card-category transparent">
        <h3>Upload dietary needs</h3>
      </div>

      <div class="card-category transparent">
        <h3>Safe & nutritious menus</h3>
      </div>
    </div>
  </div>

` <div>
    <h2>Frequently Asked Questions</h2>
  </div>
</div>
