<div class="bgimg">
  <div class="container">
    <div class="banner">
      <%= cl_image_tag @school.photo.key, class:"avatar-xl"%>
      <h1> <%= @school.name %> </h1>
      <h3> <%= @school.postcode %></h3>
    </div>
  </div>
</div>
