.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0px;
}

.banner-homepage{
  margin-left: 250px;
  display: flex;
  align-items: center;
  height: 100%;
  padding-top: 100px;
  }

.header-img{
  width: 750px;
  height: 450px;
}

.banner.hero {
  background-image: url("Background.jpg");
}
