.btn-primary {
  color: white;
  margin:10px;
}
.btn-primary:hover {
  background-color:#97A26B;
  color:black;
}
.btn-primary1 {
  background-color: #97A26B;
  color:white;
  margin: 10px;
}
.btn-primary1:hover {
  background-color:#DFA249;
  color:white;
}

.btn-secondary {
  color: black;
  background-color:white;
  padding: 10px 20px 10px 20px;
}

.btn-link {
  text-decoration: none;
  color:black;
}

.btn-circle {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;
  width: 60px;
  height: 60px;
  background:#97A26B;
  border: 3px solid #97A26B;
  border-radius: 100px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-circle:hover {
  background-color: white;
  color: black;
}
