.navbar-lewagon {
  justify-content: space-between;
  height: 100px;
  padding: 9px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-white {
  background-color: white;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width:150px;
  // height: 130px;
}

.avatar.dropdown-toggle {
  margin-left: 10px;

}

.logo {
  width: 150px;
  height: auto;
}
.nav-item{

  padding:10px;
}
