.navbar-lewagon {
  justify-content: space-between;
  height: 100px;
  padding: 9px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width:150px;
  // height: 130px;
}

.avatar.dropdown-toggle {
  margin-left: 10px;
}

.logo {
  width: 165px;
  height: 100px;
  margin: 15px
}
.nav-item{

  padding:10px;
}
