// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
body, html {
  height: 100%;
  margin: 0;
}

.bgimg-cards {
  position: relative;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  background-image: url("Background.jpg");
}

.bgimg {
  position: relative;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
  background-image: url("Background.jpg");
  height: 100%;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p.bold {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label {
  font-size: 14;
  font-weight: 300;
}

.footer-07 {
  background-color: $moss-green;
  padding: 7em 0;
  display: block;
  width:1440px;
  height: 269px;
}

.row > *{

max-width: none;

}

.container.page {
  padding-bottom: 10%;
  padding-top: 10%;
}
